<p><strong>Añadir comentario:</strong></p>
<br />
<form method="post" action="/quizes/<%= quizid %>/comments/">
<p><input type="text" id="comment" name="comment[texto]" 
    value="<%= comment %>" /></p>
    <br/>
<p><button type="submit"> Enviar </button>
</form>

