<table class="main">
<tr>
<form method="get" action="/quizes/">
    <input required type="text" name="search" size="30" 
           placeholder="Introduzca el texto a buscar" value="" />&nbsp;
    <input type="submit" value="Buscar pregunta" />
           <br/><br/>
</form>
</td>
</tr>
<% if ( quizes.length == 0 ) { %>

<tr><td>
No se encontraron preguntas que cumplan el criterio de búsqueda.
</td></tr>

<% } %>
<% for( var i=0; i< quizes.length; i ++ ) { %>
  <tr>
    <td>
      <a href="/quizes/<%= quizes[i].id %>">
      <%= (i+1) + ".- " + quizes[i].pregunta %></a>
    </td>
  </tr>
<% } %>

<tr><td>
<br/ >
<a href="/quizes/new"><input type="button" value=" Crear nueva pregunta "/></a>
</td></tr>

<% if (typeof search !== "undefined" ) { %>

<tr><td>
<br/>
<a href="/quizes">Volver al listado de preguntas</a>
</td></tr>

<% } %>
</table>
